.parameter {
  float: left;
  padding-right: 2%;
}

.parameter-holder {
  overflow:hidden;
}

#canvas {
  float: left;
}

.info-holder {
  float: left;
  padding-left: 1%;
}

.info {
  width: 100%;
}

.precise {
  padding: 2%;
  background-color: #FFF8DC;
  border-radius: 10px;
}

.random {
  padding: 2%;
  background-color: #DEB887;
  border-radius: 10px;
}

input {
  margin-bottom: 7%;
}
